:root {
  --color-one: #f20574;
  --color-two: #f20587;
  --color-three: #05f2db;
  --color-four: #c0d904;
  --color-five: #f2780c;
  --color-six: #41cc04;
  --not-quite-black: #202020;
}

.question {
  color: var(--not-quite-black);
  font-weight: bold;
}

textarea {
  margin-top: 10px;
}
