#letter-container {
  margin-left: auto;
  margin-right: auto;
}

#letter-button-container {
  background: #ffffff7a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 75%;
  padding: 0 15px 15px 15px;
}

.letter-button {
  margin-right: 5px;
  margin-bottom: 5px;
}
