#letter-container {
  margin-left: auto;
  margin-right: auto;
  font-family: "Mountains of Christmas", cursive;
  font-size: x-large;
  width: 75%;
  white-space: pre-line;
  background-color: #ffffff7a;
  padding: 15px;
}

#letter-button-container {
  background: #ffffff7a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 75%;
  padding: 0 15px 15px 15px;
}

.letter-button {
  margin-right: 5px;
  margin-bottom: 5px;
}
